body {
    background-color: #171d22;
}
.menu-header {
    text-align:center;
    display:inline-block;
    width:100%;
    height: 300px;
    margin: 0px;
    background-image: url('images/kar_menu.png');
    background-size: cover;
}

.menu-header h1 {
    font-size: 4em;
    color: #E9E9EA;
    margin: 110px 0 125px 0;
}

.menu-row{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#menu-col {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-top:20px;
    margin-left: 20px;
    background-color: #DDDDDD;
    text-align: center;
    color: black;
    height:550px;
}

#menu-col h3 {
    font-size: 1.75em;
}

#menu-col p {
    font-size: 1em;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}
#menu-col a {
    text-decoration: none;
}

button  {
    font-family: 'Cinzel', 'serif';
    display: block;
    text-align: center;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #B50D0D;
    color: white;
    margin-bottom:5px;
}

button:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width : 768px) {
    .menu-header {
        text-align:center;
        display:block;
        width:100%;
        height: 150px;
        margin: 0%;
        background-image: url('images/kar_menu.png');
        background-size: cover;
    }
    .menu-header h1 {
        font-size: 2.5em;
        color: #E9E9EA;
        margin: auto;
        padding: 45px;
    }

    .menu-row {
        width: 100%;
        height: auto;
    }

    #menu-col {
        display: block;
        width: auto;
        height: auto;
        margin: 15px 5px 15px 5px;
    }
    #menu-col h3 {
        font-size: 1.3em;
    }
    
    #menu-col p {
        font-size: 1em;
        padding: 5px;
        margin: 5px 5px 5px 5px;
    }
    button  {
        font-family: 'Cinzel', 'serif';
        display: block;
        text-align: center;
        margin: auto;
        padding: 8px;
        border-radius: 5px;
        background-color: #B50D0D;
        color: white;
    }
}