@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
  background-color: #171d22;
  margin: auto;
}
.contact-header {
  text-align:center;
  display:inline-block;
  width:100%;
  height: 300px;
  margin: 0px;
  background-image: url('images/kar_contact_header.png');
  background-size: cover;
}

.contact-header h1 {
  font-size: 4em;
  color: #E9E9EA;
  margin: 110px 0 125px 0;
}
* {
  box-sizing: border-box;
}

/*Body*/
.contact-title {
  text-align:center;
  width:100%;
}

.contact-title h2 {
  font-size: 2em;
  color: #E9E9EA;
  margin: 80px 0 50px 0;
}
#box {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    margin-top:10px;
    margin-left: 5px;
    margin-bottom: 45px;
    color:#E9E9EA;
    border-right: 2px solid #E9E9EA;
}

#box:last-child{
    border:none;
}

.message h3 {
    text-align:center;
    width:100%;
    font-size: 1.3em;
    color: #E9E9EA;
}
/*Form*/
.form {
    text-align:center;
    padding-bottom: 100px;
}
form {
  padding: 1em;
  background: #171d22;
  border: 1px solid #171d22;
  margin-top:0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 5px;
  color:#E9E9EA;
  font-family:'Nanum Myeongjo';
}
form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}
form button {
  background-color: #E9E9EA;
  color: #171d22;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  width: 20%;
  font-family: 'Nanum Myeongjo';
}
form button:hover {
  background-color: #B50D0D;
  color: #E9E9EA;
}

label {
  text-align: left;
  display: block;
  padding: 0.5em 1.5em 0.5em 0;
  font-weight:bold;
  font-family: 'Nanum Myeongjo';
  color:#E9E9EA;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid #B50D0D;
}

input#radio {
  width: 10%;
}

textarea {
  resize: none;
  width: 100%;
  height: 100px;
}

.map {
  text-align:center;
  display:inline-block;
  width:100%;
}

@media only screen and (max-width : 768px) {
  .contact-header {
    text-align:center;
    display:block;
    width:100%;
    height: 150px;
    margin: 0%;
    background-image: url('images/kar_contact_header.png');
    background-size: cover;
  }
  .contact-header h1 {
    font-size: 2.5em;
    color: #E9E9EA;
    margin: auto;
    padding: 45px;
  }

  .menu-row {
    width: 100%;
    height: auto;
  }

  #menu-col {
    display: block;
    width: auto;
    height: auto;
    margin: 15px 5px 15px 5px;
  }
  #menu-col h3 {
    font-size: 1.3em;
  }
  
  #menu-col p {
    font-size: 1em;
    padding: 5px;
    margin: 5px 5px 5px 5px;
  }
  button  {
    font-family: 'Cinzel', 'serif';
    display: block;
    text-align: center;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    background-color: #B50D0D;
    color: white;
  }
  .contact-title h2 {
    font-size: 1.5em;
    color: #E9E9EA;
    margin: 25px 5px 20px 5px;
  }
  #box {
    display: block;
    width: auto;
    height: auto;
    margin: 5px;
    border: none;
  }
  .message {
    margin-top: 25px;
  }
  input#radio {
    width: 15%;
  }
  .map {
    display: none;
  }
}