body {
    background-color: #171d22;
}
.recipes-header {
    text-align:center;
    display:inline-block;
    width:100%;
    height: 300px;
    margin: 0px;
    background-image: url('images/kar_recipe_header.png');
    background-size: cover;
}

.recipes-header h1 {
    font-size: 4em;
    color: #E9E9EA;
    margin: 110px 0 125px 0;
}

.recipes-row{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#recipe {
    width: 50%;
    display: inline-block;
    margin-top:20px;
    margin-left: 20px;
    height:550px;
}

#text-recipes {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top:20px;
    margin-left: 0px;
    text-align: center;
    color: #E9E9EA;
    height:550px;
}

#text-recipes h2 {
    font-size: 2em;
    color: #E9E9EA;
    margin-top: 80px;
    margin-bottom: 15px;
}

h2#ramen-title {
    margin-top: 30px;
}

#text-recipes a {
    color: #E9E9EA;
    font-size: 1.5em;
}

#text-recipes p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.recipes-row2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #E9E9EA;
}

#text-recipes2 {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top:20px;
    margin-left: 0px;
    text-align: center;
    color: #171d22;
    height:550px;
}

#text-recipes2 h2 {
    font-size: 2em;
    color: #171d22;
    margin-top: 80px;
    margin-bottom: 15px;
}

#text-recipes2 a {
    color: #171d22;
    font-size: 1.5em;
}

#text-recipes2 p {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width : 768px) {
    .recipes-header {
        text-align:center;
        display:block;
        width:100%;
        height: 150px;
        margin: 0%;
        background-image: url('images/kar_recipe_header.png');
        background-size: cover;
    }
    .recipes-header h1 {
        font-size: 2em;
        color: #E9E9EA;
        margin: auto;
        padding: 45px;
    }
    .recipes-row {
        width: auto;
        height: auto;
        margin: auto;
    }
    #recipe {
        display: none;
    }
    #text-recipes {
        display: block;
        margin: auto;
        height: auto;
        width: 100%;
    }
    .recipes-row2 {
        width: auto;
        height: auto;
        margin: auto;
    }
    #text-recipes2 {
        display: block;
        margin: auto;
        height: auto;
        width: 100%;
    }
    
    #text-recipes h2, #text-recipes2 h2 {
        margin: 10px;
    }
}